.hide{
    display: none;
}

.home-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.balance{
    position: fixed;
    top: 0;
    left: 0;
    margin: 1em;
    font-size: .8em;
    background: var(--bg2);
    border-radius: 50%;
    padding: .5em;
}